.nav {
    background: rgba(255, 255, 255, 0.254);
    justify-content: center;
}

.nav-item {
    padding: 0px 137.5px 0px 137.5px;
    font-weight: bold;
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color:black;
}

