.about {
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    color: white;
    width: 80%;
    position: relative;
    left: 10%;
    border-radius: 2%;
    margin-top: 15px;
}
.about-me {
    padding: 0px 20rem 0px 20rem;
}

.camille {
    border-radius: 50%;
    padding: 10px;
}