.portfolio {
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    color: white;
    width: 80%;
    position: relative;
    border-radius: 2%;
}

.d-block {
    height: 650px;
    justify-content: center;
}

.portfolio-title {
    background-color: black;
    color: white;
}

.para {
    background-color: black;
    margin-top: -16px;
}

.info {
    color: white;
    background-color: black;
    margin-top: -16px;
}

.github {
    color: white;
    text-decoration: none;
}

.github:hover {
    color: hotpink;
}