.portfolio {
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    color: white;
    width: 80%;
    position: relative;
    left: 10%;
    border-radius: 2%;
}

.d-flex {
    width: 800x;
    height: 400px;
    left: 60%;
}